# Binaries for programs and plugins
bin/
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*_amd64
*_amd64p32
*_arm
*_386
*_ppc*
*_mips*
*_s390x

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE stuff
.idea/
coverage.html
